<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Choisir la difficulté</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/styleMenu.css">
</head>
<body>
  <header>
    <h1>Choisissez la difficulté</h1>
  </header>

  <main>
    <div class="menu-buttons">
      <button type="button" class="btn difficulty" data-mode="easy">
        Facile
        <span>6x7 • 4 à aligner</span>
      </button>
      </button>
      <button type="button" class="btn difficulty" data-mode="normal">
        Normal
        <span>7x6 • 4 à aligner</span>
      </button>
      <button type="button" class="btn difficulty" data-mode="medium">
        Moyen
        <span>9x6 • 5 à aligner</span>
      </button>
      <button type="button" class="btn difficulty" data-mode="hard">
        Difficile
        <span>7x8 • 7 à aligner</span>
      </button>
    </div>

    <button type="button" class="btn back-btn" onclick="window.location.href='/menu'">Retour</button>
  </main>


  <script>
    document.querySelectorAll('.btn.difficulty').forEach(btn => {
        btn.addEventListener('click', () => {
        const mode = btn.dataset.mode;
        window.location.href = `/game?mode=${mode}`;
        });
    });
  </script>
</body>
</html>
